<!DOCTYPE html>
 <html>
 <head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>It's your birthday!</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 <body>
   <h1>Happy Birthday <%= @name %>!</h1>
   <form action="/success" method="post">
     <input type="text" name="name">
     <input type="button" value="Submit">
   </form>
 </body>
 </html>
